@import '~styles/settings/settings';

.profileInfo {
  &__avatar {
    border-radius: 100%;
    width: 202px;
    height: 202px;
    background-position: center;
    background-size: cover;
  }
  &__details {
    padding-top: rem-calc(14);
  }
  &__merit {
    margin-bottom: $rem-md;
    font-size: $fs-tn;
    text-transform: uppercase;
  }
  &__meritItem {
    display: flex;
    align-items: center;
    text-align: -webkit-center;
    margin-bottom: $rem-md;
    @include breakpoint(small only) {
      display: block;
    }
  }
  &__personal {
    display: block;
    padding: rem-calc(12) $rem-md;
    margin-bottom: $rem-xl;
    font-size: $fs-tn;
    text-transform: uppercase;
  }
}
