@import '~styles/settings/settings';

.rewardsDashboard {
  background: $lighter-gray;
  position: relative;
  z-index: 1;
  &__sidebar {
    @include breakpoint(medium down) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &__sidebarInner {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: white;
    @include breakpoint(large) {
      padding-bottom: $rem-xl;
    }
  }
  &__content {
    padding-top: $rem-xl;
  }
  &__title {
    margin: 0;
    color: $secondary;
    text-transform: capitalize;
  }
  &__tabs {
    border-top: 1px solid $light-gray;
  }
  &__tab {
    height: 60px;
    line-height: 60px;
    font-size: $fs-lg;
    color: #a1a7bd;
    cursor: pointer;
    @include breakpoint(medium down) {
      padding: 0 $rem-sm 0 0;
      border-bottom: 5px solid white;
      &--first {
        padding-left: $rem-mn;
        border-right: 1px solid $light-gray;
      }
    }
    @include breakpoint(small only) {
      font-size: $fs-md;
    }
    @include breakpoint(large) {
      padding: 0 $rem-lg 0 $rem-mx;
      border-bottom: 1px solid $light-gray;
      border-left: 5px solid white;
    }
    &--active {
      color: $secondary;
      border-left-color: $secondary;
      @include breakpoint(medium down) {
        border-bottom-color: $secondary;
      }
    }
    &--other {
      @include breakpoint(medium down) {
        padding-left: $rem-mn;
      }
    }
    &:hover {
      color: $secondary;
    }
  }
  &__tooltipPrompt {
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    font-size: $fs-sm;
    background-color: $alert;
    border-radius: 50%;
    color: white;
  }

  @include breakpoint(medium down) {
    // disable sticky behaviour for small and medium breakpoints
    .sticky-inner-wrapper {
      position: static !important;
      transform: none !important;
      width: auto !important;
    }
    .sticky-outer-wrapper {
      height: auto !important;
    }
  }
}
