@import '~styles/settings/settings';

.businessesList {
  &__list {
    min-height: 540px;
  }
  &__mapScrollWrapFixed {
    position: fixed;
    top: 20px;
    z-index: 1;
    height: 540px;
  }

  &__mapWrapBottomFixed {
    position: absolute;
    bottom: 0;
  }

  &__icon {
    fill: $darker-gray;
    display: inline-block;
  }

  &__viewIcon {
    fill: #A1A8BD;
    display: inline-block;
    &:hover {
      fill: $darker-gray;
    }
    &--active {
      fill: $darker-gray;
    }
  }
}
