@import '~styles/settings/settings';

.productsList {
  @include breakpoint(small only) {
    margin-top: $rem-lg;
  }
  &__item {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid $light-gray;
    margin-bottom: $rem-xl;
    padding-bottom: $rem-xl;

    &--noBorder {
      border-bottom: none;
    }
  }
}
