@import '~styles/settings/settings';

.productGallery {
  text-align: center;
  &__img {
    margin-bottom: $rem-md;
    max-height: rem-calc(350);
    @include breakpoint(small only) {
      max-height: rem-calc(225);
    }
  }
  &__carousel {
    padding: 0 $rem-hg;
    .slick-prev {
      left: -$rem-hg;
    }
    .slick-next {
      right: -$rem-hg;
    }
  }
  &__carouselImg {
    width: 98px;
    height: 98px;
    margin: 0 15px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
}
