@import '~styles/settings/settings';
.stepProgressLineChart {
  &__scoreLabel {
    color: $medium-dark-gray;
    font-size: rem-calc(26);
    font-weight: bold;
    transform: translateY(rem-calc(-28));
  }

  &__toggler {
    height: rem-calc(75);
  }

  .recharts-cartesian-axis-tick:first-child {
    transform: translateX(rem-calc(5));
  }
}
