@import '~styles/settings/settings';

.getGuideSuccessPage {
  @include breakpoint(large) {
    padding-top: rem-calc(50);
  }
  &__image {
    width: rem-calc(300);
    @include breakpoint(small only) {
      font-size: rem-calc(180);
    }
  }

  &__title {
    font-size: rem-calc(60);
    font-weight: bold;
    color: $secondary;
    @include breakpoint(small only) {
      font-size: rem-calc(36);
    }
  }
}
