@import '~styles/settings/settings';

.reviewItem {
  font-size: rem-calc(16);
  color: $darker-gray;

  &__reviewItemRow {
    border-bottom: rem-calc(1) solid $light-gray;
  }

  &__cardContainer {
    @include breakpoint(small only) {
      border: 1px solid $light-gray;
      border-radius: $rem-tn;
      padding-top: $rem-md;
      padding-bottom: $rem-mn;
      margin-bottom: $rem-md;
    }
  }

  &__image {
    display: inline-block;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 0 1px $light-gray;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: $rem-xl;
    border: none;

    &--default {
      background-image: url('~images/default-avatar.jpg');
    }

    &--lpVersion {
      width: 4rem;
      height: 4rem;
    }
  }

  &__userName {
    color: $darker-gray;
    font-weight: normal;
    font-size: $fs-md;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
      color: $dark-gray;
    }

    &--lpVersion {
      display: inline-block;
      vertical-align: middle;
      height: 100%;
      font-size: $fs-mx;
      margin-left: $rem-mx;
    }
  }

  &__smallImage {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 1px $light-gray;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: $rem-xl;
    border: none;

    &--default {
      background-image: url('~images/default-avatar.jpg');
    }
  }

  &__ellipsisMessage {
    word-break: break-word;
    font-size: $fs-base;
  }

  &__voteLink {
    text-transform: none;
    font-size: $fs-md;
  }
  &__shareLink {
    margin-right: $rem-sm;
    display: inline-block;
  }

  &__batchTitle {
    font-size: $fs-mx;
    font-weight: bolder;
    color: #3a405b;
    @include breakpoint(small only) {
      margin-top: $rem-md;
    }
  }

  &__purchaseValue {
    font-size: $fs-md;
    &--yes {
      color: $success;
    }
    &--no {
      color: $danger;
    }
  }

  &__title {
    font-size: $fs-mx;
    text-transform: capitalize;
    color: #3a405b;
    text-decoration: none;

    &:hover {
      color: $dark-gray;
    }
  }
}
