@import '~styles/settings/settings';

.postOfferPage {
  padding-bottom: 200px;
  &__label {
    font-size: $fs-xl;
    color: $darkest-gray;
    margin-bottom: 0;
  }
  &__labelDesc {
    font-size: $fs-md;
    color: rgba(20, 41, 61, 0.65);
    margin-bottom: 0;
  }
  &__hiddenInput {
    display: none !important;
  }
  &__fieldGroup {
    border-radius: 5px;
    box-shadow: 7px 3px 17px 0 rgba(0, 0, 0, 0.04);
    border: solid 1px #eaeaea;
    padding: $rem-lg $rem-xl;
  }
  &__description {
    min-height: rem-calc(400);
  }
}
