@import '~styles/settings/settings';

.recentVideos {
  &__playerContainer {
    position: relative;
    min-height: 620px;
    margin-bottom: $rem-lg;
  }
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  &__thumbnail {
    cursor: pointer;
    color: $secondary;
    transition: color 0.25s ease-out;
    &:hover {
      color: $primary;
    }
  }
  &__smallPlayer {
    position: relative;
    min-height: 230px;
  }
}
