@import '~styles/settings/settings';

.magazineCategoriesMenu {
  line-height: rem-calc(51);
  border-bottom: 1px solid $light-gray;
  @include breakpoint(large) {
    padding-top: $rem-md;
    padding-bottom: $rem-md;
    margin-bottom: rem-calc(50);
  }
  &__item {
    @include breakpoint(medium down) {
      position: relative;
      &:not(&--active) {
        display: none;
        @at-root .open & {
          display: block;
        }
        &:after {
          display: block;
          content: '';
          position: absolute;
          top: 0;
          left: $rem-mn;
          right: $rem-mn;
          height: 1px;
          background-color: $light-gray;
        }
      }
    }
  }
  &__link {
    display: block;
    font-weight: bold !important;
    color: $body-font-color;
    @include breakpoint(large) {
    color: $success;
      font-size: $fs-lg !important;
    }
    &:hover {
      color: $success;
    }
    &--active {
      color: $body-font-color;
      &:hover {
        color: $body-font-color;
      }
    }
  }
  &__chevron {
    padding-top: $rem-mn;
    padding-bottom: $rem-mn;
    cursor: pointer;
  }
}
