@import '~styles/settings/settings';

.fileUpload {
  &__hiddenInput {
    display: none !important;
  }
  &__image {
    width: 80px;
    height: 80px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #a1a7bd;
    &--circle {
      border-radius: 100%;
    }
  }
  &__desc {
    font-size: $fs-md;
    color: $light-darkest-gray;
    margin: 0;
  }
}
