@import '~styles/settings/settings';

.footer {
  position: relative;
  background: $darkest-gray;
  z-index: 2;
  svg {
    fill: white;
  }
  &__top {
    background: $darkest-gray;
    padding-top: rem-calc(80);
    padding-bottom: $rem-lg;
  }
  &__bottom {
    background: $darkest-gray;
    padding-top: $rem-xl;
    padding-bottom: $rem-xl;
  }
  &__logoContainer {
    @include breakpoint(large) {
      min-width: 200px;
    }
  }
  &__logo {
    margin-bottom: $rem-lg;
    color: $white;
    @include breakpoint(small only) {
      margin-bottom: 0;
    }
  }
  &__socialItem {
    display: inline-block;
    color: $white;
    margin-right: $rem-md;

    &:hover {
      svg {
        fill: $primary;
      }
    }
  }
  &__menuContainer {
    @include breakpoint(large) {
      justify-content: space-between;
    }
    @include breakpoint(small only) {
      padding-top: $rem-md;
    }
  }
  &__menu {
    margin: 0;
    padding: 0;
    list-style: none;
    @include breakpoint(small only) {
      margin-bottom: $rem-md;
    }
  }
  &__menuItem {
    color: $white;
    font-size: $fs-base;
    text-decoration: none;
    text-transform: capitalize;
    opacity: 0.4;
    margin-bottom: $rem-mn;
    display: inline-block;
    font-weight: normal;
  }
  &__menuButton {
    line-height: rem-calc(10);
    border: rem-calc(1) $white solid;
    border-radius: $button-radius;
    margin-bottom: rem-calc(10);
    width: rem-calc(136);
    text-align: center;
    transition: background-color 0.25s ease-out;
    &--blue {
      background-color: $primary;
      border-color: $primary;
      margin-top: $rem-mx;
    }
    &--white {
      background-color: $white;
      border-color: $white;

      &:hover {
        background-color: $primary;
        border-color: $primary;
      }

      a {
        color: $secondary !important;
        &:hover {
          color: $white !important;
        }
      }
    }
    a {
      display: block;
      width: 100%;
      padding: rem-calc(10);
      text-decoration: none;
      color: $white;
      transition: color 0.25s ease-out;

      &:hover {
        color: $primary;
      }
    }
  }
  &__copy {
    font-size: $fs-sm;
    color: $white;
    font-weight: bold;
    @include breakpoint(small only) {
      font-size: rem-calc(9);
      text-align: center;
    }
    &--item {
      font-size: rem-calc(11);
      margin: rem-calc(0) $rem-md;
      text-transform: uppercase;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__terms {
    color: $white;
    text-decoration: none;
    @include breakpoint(small only) {
      font-size: rem-calc(9);
      text-align: center;
    }
  }
  &__menuTitle {
    color: $white;
    text-decoration: none;
    font-weight: 600;
    font-size: rem-calc(18);
    margin-bottom: rem-calc(25);
  }
  &__companyName {
    font-size: rem-calc(15);
    color: $white;
    font-weight: normal;
    opacity: 0.32;
    @include breakpoint(small only) {
      font-size: rem-calc(11);
      text-align: center;
    }
  }
  &__divider {
    border-top: solid 1px #ffffff;
    opacity: 0.06;
  }
}
