@import '~styles/settings/settings';

.filter {
  &__container {
    padding-top: $rem-xl;
    padding-bottom: $rem-md;
    margin-bottom: $rem-xl;
    background-color: $lighter-gray;
    @include breakpoint(small only) {
      padding-top: $rem-sm;
      padding-bottom: $rem-sm;
      margin-bottom: 0;
    }
  }
  &__label {
    line-height: $rem-xl;
    font-size: $fs-tn;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: $rem-md;
  }
  &__topItem {
    margin-bottom: $rem-sm;
    @include breakpoint(small only) {
      margin-bottom: 0;
    }
  }
  &__bottom {
    margin-top: $rem-md;
    padding-top: $rem-md;
    @include border($light-gray, top);
  }
  &__input {
    margin-left: $rem-md;
  }
  &__bannerTitle {
    .dropdown__toggle {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }
  &__bannerDropdown {
    user-select: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: rem-calc(200);
  }
  &__bannerDropdownItem {
    display: block;
    padding: $rem-mn $rem-lg;
    font-size: $fs-md;
    font-weight: normal;
    color: $darker-gray;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
      color: $white;
      background-color: $secondary;
    }
  }
  &__bannerDropdownIcon {
    @include breakpoint(small only) {
      width: $rem-mn;
    }
  }

  &__oilBanner {
    background-image: url(~images/banners/oil-search.png);
    @include breakpoint(small only) {
      background-image: url(~images/banners/oil-search-mobile.png);
    }
  }

  &__flowerBanner {
    background-image: url(~images/banners/flower-search.png);
    @include breakpoint(small only) {
      background-image: url(~images/banners/flower-search-mobile.png);
    }
  }

  &__productBanner {
    background-image: url(~images/banners/product-search.png);
    @include breakpoint(small only) {
      background-image: url(~images/banners/product-search-mobile.png);
    }
  }

  &__producersBanner {
    background-image: url(~images/banners/producer-search.png);
    @include breakpoint(small only) {
      background-image: url(~images/banners/producer-search-mobile.png);
      min-height: rem-calc(140);
    }
  }

  &__clinicsBanner {
    background-image: url(~images/banners/clinic-search.png);
    @include breakpoint(small only) {
      background-image: url(~images/banners/clinic-search-mobile.png);
      min-height: rem-calc(140);
    }
  }
}
