@import '~styles/settings/settings';

.reply {
  border-top: 1px solid #e3e8f0;
  padding: $rem-xl 0;

  &__actionLink {
    text-decoration: underline;
  }
  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  &__user {
    font-size: $fs-tn;
  }
  &__userName {
    font-size: $fs-lg;
  }
  &__userReputation,
  &__userJoined {
    font-size: $fs-tn;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__userTime {
    text-decoration: none;
  }
}
