@import '~styles/settings/settings';

.verticalStepper {
  &__container {
    padding: $rem-md 0;
    background-color: $white;
    @include breakpoint(small only) {
      width: 100%;
    }
  }
  &__progressChart {
    padding: 0 $rem-hg;
  }
  &__list {
    position: relative;
    margin: $rem-sm 0;
    padding: 0;
    list-style: none;
    counter-reset: section;
    &:before {
      content: '';
      position: absolute;
      top: $rem-xl;
      bottom: $rem-xl;
      width: rem-calc(1);
      background: #e3e8f0;
      left: rem-calc(48);
      margin: 0;
      border-radius: rem-calc(2);
      @include breakpoint(small only) {
        left: rem-calc(38);
      }
    }
  }
  &__title {
    font-size: $fs-lg;
    font-weight: bold;
  }
  &__subtitle {
    font-size: $fs-base;
    opacity: 0.7;
  }
  &__toggler {
    height: rem-calc(75);
    margin-left: $rem-md !important;
  }
  &__itemWrapper {
    padding-left: $rem-lg;
    padding-top: $rem-mn;
    padding-bottom: $rem-mn;
    margin-bottom: $rem-lg;
    border-left: rem-calc(6) solid #ffffff;
    box-sizing: border-box;
    background-color: $white;
    &--active {
      border-color: #e3e8f0;
      background-color: rgba(227,232,240,0.15);
    }
    @include breakpoint(small only) {
      padding-left: $rem-md;
    }
  }
  &__item {
    position: relative;
    display: flex;
    align-items: center;
    height: $rem-xxl;
    cursor: pointer;
  }
  &__icon {
    background: url('./incomplete.png') no-repeat;
    width: $rem-mx;
    height: $rem-mx;

    &--complete {
      background: url('./complete.png') no-repeat;
    }

    &--active {
      background: url('./in-progress.png') no-repeat;
    }
  }
  &__titleWrapper {
    margin-left: $rem-lg;
  }
}
