@import '~styles/settings/settings';

.panel {
  position: relative;
  padding: $rem-lg $rem-xxl;
  margin-bottom: $rem-xxl;
  background: url('./bg.jpg') no-repeat top right #e3e8f0;
  &--light {
    padding-top: $rem-hg;
    padding-bottom: $rem-hg;
    text-align: center;
    @include breakpoint(small) {
      padding-left: $rem-sm;
      padding-right: $rem-sm;
    }
    @include breakpoint(medium) {
      padding-left: $rem-xl;
      padding-right: $rem-xl;
    }
    @include breakpoint(large) {
      padding-left: $rem-hg;
      padding-right: $rem-hg;
    }
  }
  &--dark {
    background: url('./bg-dark.jpg') $darker-gray;
    color: $white;
  }
  &--green {
    background: #0cab9d;
    color: $white;
  }
  &__close {
    position: absolute;
    top: $rem-md;
    right: $rem-md;
    cursor: pointer;
  }
}
