@import '~styles/settings/settings';

.reviewSubmitSuccessPage {
  padding-top: rem-calc(70);
  &__title {
    font-size: rem-calc(60);
    font-weight: bold;
    color: $secondary;
    @include breakpoint(small only) {
      font-size: rem-calc(36);
    }
  }
  &__pointsCard {
    max-width: 570px;
    height: 182px;
    background-image: url('./cardBg.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    padding-top: $px-md;
    border-radius: $global-radius;
    @include breakpoint(small only) {
      background-image: url('./smallCardBg.png');
    }
  }
  &__pointsCardTitle {
    font-size: rem-calc(100);
    line-height: rem-calc(100);
    margin: 0;
    color: $white;
    font-weight: bold;
  }
  &__pointsCardSubtitle {
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__msg {
    color: $darker-gray;
    text-transform: none;
    max-width: 750px;
    display: inline-block;
  }
  &__link {
    color: $secondary;
    text-transform: none;
    font-size: $fs-mx;
  }
}
