@import '~styles/settings/settings';

.profileCompletion {
  width: rem-calc(270);
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(medium) {
    margin-left: rem-calc(100);
  }
  &__header {
    background-color: #43c2cc;
    font-size: $fs-tn;
    text-transform: uppercase;
    font-weight: bold;
    color: $white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(34, 35, 40, 0.2);
    border-top-right-radius: $global-radius;
    border-top-left-radius: $global-radius;
  }
  &__progress {
    background-color: #43c2cc;
    height: 195px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__info {
    border: 1px solid $medium-gray;
    border-bottom-left-radius: $global-radius;
    border-bottom-right-radius: $global-radius;
    padding: $rem-md;
  }
  &__description {
    font-size: $fs-mx;
    margin-bottom: $rem-lg;
  }
  a {
    font-size: $fs-mx;
    text-transform: none;
  }
}
