@import '~styles/settings/settings';

.limitedFeaturesMessage {
  padding-top: $rem-md;
  background-color: $secondary;

  &__title {
    font-size: $fs-lg;
    color: $lightest-gray;
  }

  &__message,
  &__link {
    color: $light-gray;
  }

  &__link {
    text-transform: none;
    text-decoration: none;
    font-size: $fs-base;
    font-weight: normal;
  }
}
