@import '~styles/settings/settings';

.expandHourList {
  font-size: $fs-sm;
  text-transform: uppercase;

  &__labelWrapper {
    cursor: pointer;
    font-weight: bold;
  }

  &__labelWrapper,
  &__dropdownWrapper {
    display: flex;
    align-items: center;
  }

  &__label {
    width: rem-calc(50);
    padding-right: $rem-sm;
  }
  &__status {
    width: rem-calc(95);
    padding-right: $rem-sm;
    text-align: center;
    &--danger {
      color: $danger;
    }

    &--success {
      color: $success;
    }

    &--active {
      font-weight: bold;
    }
  }
  &__time {
    padding-right: $rem-sm;
    min-width: rem-calc(125);
    text-align: center;
  }
}
