@import '~styles/settings/settings';

.myReviews {
  &__noReviews {
    text-align: center;
    padding: $rem-xl 0 $rem-hg;
  }

  &__filter {
    padding-top: $rem-lg;
    padding-bottom: $rem-tn;
  }
}
