@import '~styles/settings/settings';

.photoList {
  &__image {
    background-color: $light-gray;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 200px;
    &:hover {
      cursor: pointer;
    }
  }
}
