@import '~styles/settings/settings';

.register {
  .pageBanner {
    margin-bottom: $rem-md;
    background-image: url(../../images/banners/auth.png);
    @include breakpoint(small only) {
      background-image: url(../../images/banners/auth-mobile.png);
    }
  }
}
