@import '~styles/settings/settings';

.cartAction {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: $fs-tn;
  font-weight: bold;
  cursor: pointer;
  &__icon {
    color: $black;
    margin-right: $rem-tn;
  }
}
