@import '~styles/settings/settings';

.magazinePostPage {
  &__name {
    color: inherit;
  }
  &__image {
    height: rem-calc(630);
    margin-bottom: $rem-lg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    @include breakpoint(small only) {
      height: rem-calc(190);
    }
  }
}
