@import '~styles/settings/settings';

.featuredPress {
  &__item {
    border-radius: 5px;
    background-color: $white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 0 $rem-xl;
    height: rem-calc(245);
    margin-bottom: $rem-md;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    @include breakpoint(small only) {
      padding: 0 $rem-lg;
    }
  }
  &__logo {
    max-height: 50px;
    max-width: 80%;
    height: auto;
    width: auto;
    margin-bottom: $rem-md;
  }
  &__icon {
    margin-left: $rem-sm;
  }
  &__header {
    font-size: rem-calc(36);
    font-weight: bold;
    line-height: rem-calc(44);
    @include breakpoint(small only) {
      font-size: $fs-xxl;
      line-height: rem-calc(36);
    }
  }
  &__title {
    font-size: $rem-mn;
    line-height: $fs-xl;
    text-transform: none;
    margin-bottom: $rem-md;
  }
  &__link {
    font-size: $rem-mn;
    font-weight: bold;
    line-height: $rem-md;
    text-transform: none;
    text-decoration: none;
    color: #4397bc;
    fill: #4397bc;
    display: flex;
    align-items: center;
    &:hover {
      fill: $primary;
    }
  }
}
