@import '~styles/settings/settings';

.c101chapters {
  margin-bottom: $rem-hg;
  &__panel {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: $global-radius;
    height: rem-calc(100);
    line-height: rem-calc(100);
    font-weight: 900;
    padding: 0 $rem-md;
    text-align: center;
    margin-bottom: $rem-hg;
    font-size: $fs-xl;
  }
  &__nextArticleLink {
    color: $dark-green;
  }
  &__image {
    margin-bottom: $rem-mn;
    height: rem-calc(200);
    background-color: #d8d8d8;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  &__title {
    color: $secondary;
    font-size: $fs-lg;
    font-weight: bold;
  }
}
