@import '~styles/settings/settings';
.pieChart {
  position: relative;
  &__svg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &__label {
    color: $medium-dark-gray;
    font-size: $fs-md;
    font-weight: bold;
  }
  &__value {
    font-size: $fs-xl;
    font-weight: bold;
    color: $darker-gray;
  }
  &__pancakeRow {
    margin: $rem-sm 0;
  }
  &__pancake {
    margin: 0 auto;
    border-radius: 50%;
  }
}
