@import '~styles/settings/settings';

.forumSearch {
  margin-bottom: $rem-lg;
  padding: $rem-xl $rem-sm;
  @include breakpoint(medium) {
    padding-left: $rem-md;
    padding-right: $rem-md;
  }
  @include breakpoint(small only) {
    padding-top: $rem-sm;
    padding-bottom: $rem-sm;
  }
  background-color: $lighter-gray;
  color: $white;
}
