@import '~styles/settings/settings';

.completeProfileForm {
  background-image: url(./complete-profile-bg.png);
  overflow: auto;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  &__form {
    border-radius: $fs-mn;
    background-color: #fafbfc;
    padding: $rem-lg $rem-md;
    margin: $rem-md $rem-mx;
  }
  &__formWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    height: auto;
    transform: translate(0, 0);
  }
  &__formField {
    padding: $rem-md $rem-md;
  }
  &__hiddenInput {
    display: none !important;
  }
  &__header {
    padding: $rem-md $rem-md;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__backLink {
    font-size: $fs-base;
    text-transform: none;
    text-decoration: none;
  }
  &__skipLink {
    opacity: 0.4;
    color: $darkest-gray;
    font-size: $fs-mx;
    text-transform: none;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
      color: $darkest-gray;
    }
  }
  &__earnButton {
    border-width: rem-calc(3) !important;
  }
  &__subTitle {
    font-size: $fs-xl;
    line-height: $rem-lg;
  }
}
