@import '~styles/settings/settings';
.cannabisAwardItem {
  &__iconContainer,
  &__labelContainer {
    display: inline-block;
    vertical-align: middle;
    @include breakpoint(medium) {
      max-width: 75%;
    }
  }

  &__label {
    font-size: $fs-md;
    line-height: $fs-mx;
    text-transform: capitalize;
  }

  &__icon {
    &--gold {
      fill: $warning;
    }
    &--silver {
      fill: #a1a8bd;
    }
    &--bronze {
      fill: #bd8c61;
    }
  }
}
