@import '~styles/settings/settings';

.rewardCard {
  margin-bottom: $rem-md;
  border: 1px solid $light-gray;
  border-radius: $global-radius;
  background-color: white;
  &.active {
    border-color: $success;
  }
  &__inner {
    padding: $rem-lg;
    border: 1px solid transparent;
    border-radius: $global-radius;
    @at-root .active & {
      border-color: $success;
    }
  }
  &__title {
    margin: 0;
    font-size: rem-calc(18);
    font-weight: bold;
  }
  &__subtitle {
    font-size: $fs-sm;
    text-transform: uppercase;
    font-weight: bold;
  }
  &__link {
    font-size: $fs-sm;
  }
  &__code {
    font-size: rem-calc(15);
    color: $secondary;
  }
  .has-tip {
    margin: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: white;
    font-size: rem-calc(22);
    text-align: center;
    border-radius: 50%;
    background-color: $secondary;
  }
  &__rewardPrice {
    margin-right: $rem-lg;
    font-size: $rem-md;
  }
  &__thumbnailImage {
    max-width: 120px;
  }
  &__outOfStockButton {
    line-height: rem-calc(15);
    border: rem-calc(1) $primary solid;
    border-radius: $button-radius;
    padding: rem-calc(10);
    margin-bottom: rem-calc(10);
    width: rem-calc(175);
    text-align: center;
    background: $white;
    text-decoration: none;
    color: $primary !important;
    margin: $rem-md;
    cursor: not-allowed;
  }
}
