@import '~styles/settings/settings';

.lpHeader {
  background-color: $darkest-gray;
  color: white;
  font-size: $fs-md;
  line-height: 1.25;
  &__topLine {
    @include breakpoint(small only) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 44px;
      padding-top: rem-calc(11);
      padding-bottom: rem-calc(11);
      background-color: $darker-gray;
      box-shadow: 0 0 4.8px 0.3px rgba(34, 35, 40, 0.25);
    }
  }
  &__user {
    @include breakpoint(small only) {
      padding-top: $rem-md;
      padding-bottom: $rem-md;
    }
  }
  &__menu {
    @include breakpoint(small only) {
      padding: 0;
    }
  }
  &__toggle {
    @include breakpoint(small only) {
      display: none;
      @at-root .open & {
        display: block;
      }
    }
  }
  &__link {
    color: $medium-dark-gray;
    text-decoration: none;
    font-size: rem-calc(10);
    &:hover {
      color: $medium-dark-gray;
      text-decoration: underline;
    }
  }
  &__logo {
    color: white;
    @include breakpoint(small only) {
      width: 35px;
      height: 22px;
    }
  }
  &__close {
    color: white;
  }
  .mainMenu {
    &__link {
      color: $medium-dark-gray;
      line-height: 51px;
      font-size: $fs-md;
      padding: 0 $rem-md;
      @include breakpoint(medium) {
        font-size: $fs-sm;
        line-height: 63px;
      }
      &--active {
        background-color: #191919;
        color: $secondary !important;
      }
    }
    &__item {
      margin: 0;
      &:after {
        display: none;
      }
      @include breakpoint(small only) {
        padding: 0;
      }
    }
  }
  .hamburger__inner {
    background-color: white;
  }
}
