@import '~styles/settings/settings';

.profile {
  .pageBanner {
    margin-bottom: 0;
    background-image: url(../../images/banners/account.png);
    @include breakpoint(small only) {
      background-image: url(../../images/banners/account-mobile.png);
    }
  }
}
