@import '~styles/settings/settings';

.businessInfo {
  &__infoSection {
    @include border($light-gray, bottom);
  }
  &__profileSection {
    @include breakpoint(small only) {
      @include border($light-gray, bottom);
      text-align: center;
    }
  }
  &__image {
    display: inline-block;
    width: rem-calc(260);
    height: rem-calc(260);
    box-shadow: 0 0 0 1px $light-gray;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;

    @include breakpoint(small only) {
      width: 170px;
      height: 170px;
    }
  }
  &__actionLink {
    text-decoration: none;
  }

  &__actionLink {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__socialLinks {
    text-align: right;
    @include breakpoint(small only) {
      text-align: left;
    }

    .socialLink {
      margin-left: $rem-md;
      margin-right: 0;
      @include breakpoint(small only) {
        margin-left: 0;
        margin-right: $rem-md;
      }
    }
  }

  &__tags {
    @include breakpoint(small only) {
      margin-top: $rem-sm;
      justify-content: center;
    }
  }

  &__awardsBanner {
    display: block;
  }
}
