@import '~styles/settings/settings';
.lpReviews {
  margin-bottom: $rem-lg;
  &__menu {
    border-top: 1px solid $light-gray;
    border-bottom: 1px solid $light-gray;
    margin-bottom: $rem-lg;
  }
}
