@import '~styles/settings/settings';

.cannabisProductReviewForm {
  &__dateInput {
    padding: 0;
  }
  &__ratingSection {
    border-radius: $rem-tn;
    padding: $rem-md $rem-lg;
    border: 1px solid $light-gray;
  }
  &__ratingLabel {
    width: 100%;
    font-size: $fs-lg;
  }
  &__toggleLabel {
    display: inline-block;
    margin-right: rem-calc(10);
  }
  &__toggleIcon {
    cursor: pointer;
    display: inline-block;
  }
  &__toggleHeader {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: $black;
  }
  &__message {
    min-height: rem-calc(200);
  }
  &__select {
    border: 1px solid $secondary;
  }
  &__messageLength {
    color: $alert;
  }
  &__dropzone {
    width: 100%;
    height: rem-calc(200);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed #ebecee;

    @include breakpoint(small only) {
      display: block;
      height: auto;
      border: none;
    }
  }
  &__dropzoneLabel {
    font-size: $fs-md;
    color: #b9bed1;
    @include breakpoint(small only) {
      display: none;
    }
  }
  &__dropzoneButton {
    font-size: $fs-tn;
    width: rem-calc(162);
    height: rem-calc(43);
    border-radius: rem-calc(43);
    margin-bottom: $rem-sm;
    @include breakpoint(small only) {
      width: 100%;
    }
  }
  &__photoRowLabel {
    margin-bottom: $rem-sm;
    font-size: $fs-md;
    font-weight: normal;
    color: #3a405b;
  }
  &__previewImage {
    border-radius: $rem-sm;
    background-image: $light-gray;
    width: rem-calc(50);
    height: rem-calc(50);
  }
  &__photoName {
    line-height: $fs-mx;
  }
  tbody th,
  tbody td {
    padding: 0;
  }
}
