@import '~styles/settings/settings';

.banner {
  margin-bottom: $rem-xl;
  background-color: #ece2d4;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  @include breakpoint(small only) {
    margin-bottom: 0;
  }
  &__inner {
    height: 450px;
    background-repeat: no-repeat;
    background-image: url('./banner-image1.png');
    background-position: top 72.5% right;
    background-size: auto;
    background-color: #ece2d4;

    @include breakpoint(small only) {
      height: 400px;
      background-repeat: no-repeat;
      background-image: url('./banner-image2.png');
      background-position: top 100% right;
      background-size: 60%;
      background-color: #ece2d4;
    }
  }
  &__content {
    padding-top: $rem-xl;
    padding-bottom: $rem-xl;
    align-self: center;

    @include breakpoint(small only) {
      padding-top: $rem-md;
      padding-bottom: $rem-sm;
      align-self: normal;
    }
  }
  &__title {
    color: $darkest-gray;
    font-size: 48px;
    font-weight: bold;
    line-height: 61px;
    @include breakpoint(small only) {
      font-size: rem-calc(36);
      line-height: rem-calc(46);
    }
  }
  &__title a {
    font-size: 48px;
    font-weight: bold;
    line-height: 61px;
    text-transform: none;
    text-decoration: none;
    @include breakpoint(small only) {
      font-size: rem-calc(36);
      line-height: rem-calc(46);
    }
  }
  &__subTitle {
    color: $darkest-gray;
    font-size: 24px;
    line-height: 30px;

    @include breakpoint(small only) {
      font-size: $fs-mx;
      line-height: $fs-xl;
    }
  }
}
