@import '~styles/settings/settings';

.team {
  color: #3a405b;
  @include breakpoint(small only) {
    text-align: center
  }
  &__picture {
    cursor: pointer;
    position: relative;
  }
  &__animatedPicture {
    position: absolute;
    opacity: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    &:hover {
      opacity: 1;
    }
  }
  &__name {
    font-size: $fs-mx;
  }
}
