@import '~styles/settings/settings';

.cannabisProductProfile {
  padding-bottom: $rem-lg;
  margin-bottom: $rem-xl;
  @include border;
  @include breakpoint(small only) {
    padding-bottom: $rem-tn;
    margin-bottom: $rem-md;
  }

  &__thumbnail {
    width: 170px;
    height: 170px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border: none;
    box-shadow: 0 0 0 1px $light-gray;
    @include breakpoint(small only) {
      width: 75px;
      height: 75px;
    }
  }
  &__availabilityStatus {
    color: $danger;
    text-transform: uppercase;
    font-size: $fs-tn;
    font-weight: bolder;
    line-height: $fs-tn;
    display: inline-flex;
  }
  &__questionIcon {
    fill: $danger;
    line-height: $fs-tn;
    width: $fs-tn;
    height: $fs-tn;
  }
  &__questionIconContainer {
    width: $fs-tn;
    height: $fs-tn;
    margin-left: $rem-tn;
  }
  &__producerName {
    margin-bottom: $rem-md;
    text-transform: uppercase;
    color: $dark-gray;
    font-weight: bold;
  }
  &__producerNameLink {
    color: $dark-gray;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $fs-base;
    &:hover {
      color: $dark-gray;
    }
  }
  &__price {
    margin: 0;
    font-weight: 600;
    font-size: $fs-mx;
    color: $darker-gray;
    line-height: $fs-mx;
  }
  &__points {
    font-weight: 300;
    color: $dark-gray;
  }
  &__title {
    color: $darkest-gray;
    margin-bottom: $rem-md;
  }
}

.addToBagButton {
  background-color: #a0ce67;
}
