@import '~styles/settings/settings';

.c101banner {
  display: flex;
  height: 225px;
  margin-bottom: $rem-lg;
  padding: $rem-md;
  background-color: #d8d8d8;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: rem-calc(48);
  color: white;
  align-items: center;
  justify-content: center;
  &__title {
    margin: 0;
  }
}
