@import '~styles/settings/settings';

.ageConfirmation {
  &__layout {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(76, 76, 76, 0.8);
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    background: $white;
    overflow: auto;
    border-radius: 4px;
    outline: none;
    padding: $rem-xxl !important;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }

  &__title {
    font-size: $fs-hg;
    font-weight: normal;
    text-align: center;
  }

  &__buttons {
    padding-top: $rem-md;
    padding-bottom: $rem-md;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__text {
    text-align: center;
  }

  &__link {
    color: $secondary !important;
    text-transform: none !important;
    text-decoration: underline !important;
    font-size: $fs-base;
    font-weight: normal;
  }
}
