@import '~styles/settings/settings';

.businessReviewForm {
  &__ratingSection {
  }
  &__ratingLabel {
    width: rem-calc(180);
    font-size: $fs-md;
  }
  &__messageEditor {
    min-height: rem-calc(200);
  }
}
