@import '~styles/settings/settings';

.recentReviewItem {
  font-size: rem-calc(16);
  color: $darker-gray;
  height: 100%;

  &__image {
    display: inline-block;
    width: 70px;
    height: 70px;
    box-shadow: 0 0 0 1px $light-gray;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: $rem-xl;
    border: none;

    &--default {
      background-image: url('~images/default-avatar.jpg');
    }
  }

  &__userName {
    color: $darker-gray;
    font-weight: normal;
    font-size: $fs-md;
    text-decoration: none;
    text-transform: capitalize;
    &:hover {
      color: $dark-gray;
    }
  }

  &__smallImage {
    display: inline-block;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 1px $light-gray;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: $rem-xl;
    border: none;

    &--default {
      background-image: url('~images/default-avatar.jpg');
    }
  }

  &__title {
    font-size: $fs-base;
    text-transform: capitalize;
    color: #3a405b;
    text-decoration: none;

    &:hover {
      color: $dark-gray;
    }
  }
  &__producer {
    text-transform: uppercase;
    font-weight: bold;
    font-size: $fs-sm;
    text-decoration: none;
    color: $dark-gray;
  }

  &__productName {
    font-size:$fs-mx;
    color: $secondary-color;
    text-decoration: none;
    text-transform: capitalize;
  }

  &__short {
    overflow: hidden;
  }
}
