@import '~styles/settings/settings';
.cannabisAwards {
  &__title {
    width: 100%;
    border-bottom: 1px solid $warning;
    font-size: $fs-tn;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: $fs-mn;
  }
}
