@import '~styles/settings/settings';

.productProfile {
  padding-bottom: $rem-xl;
  margin-bottom: $rem-xl;
  @include border;
  @include breakpoint(small only) {
    padding-bottom: $rem-md;
    margin-bottom: $rem-md;
  }

  &__thumbnail {
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    border: 1px solid $light-gray;
    @include breakpoint(small only) {
      width: 75px;
      height: 75px;
    }
  }
  &__producerName {
    margin-bottom: $rem-md;
    text-transform: uppercase;
    color: $dark-gray;
    font-weight: bold;
  }
  &__producerNameLink {
    color: $dark-gray;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: $fs-base;
    &:hover {
      color: $dark-gray;
    }
  }
  &__price {
    margin: 0;
    font-weight: 300;
    font-size: $rem-md;
    color: $darker-gray;
  }
  &__points {
    font-weight: 300;
    color: $dark-gray;
  }
}

.addToBagButton {
  background-color: #a0ce67;
}
