@import '~styles/settings/settings';

.magazineMobileDropdownMenu {
  padding: $rem-md 0;
  &__current {
    color: $darkest-gray;
    cursor: pointer;
    font-size: $fs-mx;
    text-transform: capitalize;
    font-weight: 700;
    @include column-padding;
  }
  &__chevron {
    color: $darkest-gray;
    &--open {
      transform: rotate(180deg);
    }
  }
  &__link {
    display: block;
    line-height: 60px;
    color: $primary;
    text-decoration: none;
    font-size: $fs-mx;
    font-weight: 700;
    text-transform: capitalize;
    &:hover,
    &--active {
      color: $darkest-gray;
    }
    &:not(:first-child) {
      border-top: 1px solid #eaeaea;
    }
    &:hover {
      text-decoration: none;
    }
  }
  .dd-menu-items {
    width: 100%;
    ul {
      background-color: $white;
      @include column-padding;
    }
  }
}
