@import '~styles/settings/settings';

.pageBanner {
  margin-bottom: $rem-xl;
  color: $white;
  background-image: linear-gradient(98deg, #2da2f2, #006494);
  padding: $rem-lg $rem-sm;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  @include breakpoint(small only) {
    margin-bottom: $rem-md;
  }
  @include breakpoint(large) {
    min-height: rem-calc(200);
    &.large {
      min-height: rem-calc(300);
    }
  }
  &__title {
    &--large {
      @include breakpoint(large) {
        font-size: rem-calc(60);
      }
    }
  }
  &__subtitle {
    margin: 0;
    text-transform: none;
    font-weight: bold;
    text-align: center;
  }
  &--responsiveBg {
    background-image: url(./bg.png);
    @include breakpoint(small only) {
      background-image: url(./bg-mobile.png);
      text-shadow: -1px -1px 0 #ebe1d3, 1px -1px 0 #ebe1d3, -1px 1px 0 #ebe1d3,
        1px 1px 0 #ebe1d3;
    }
    @include breakpoint(medium) {
      padding-left: rem-calc(160);
      padding-right: rem-calc(160);
    }
    @include breakpoint(large) {
      padding-left: rem-calc(225);
      padding-right: rem-calc(225);
    }
  }
}
