@import '~styles/settings/settings';

.reviewStatusItem {
  margin-left: 0 !important;
  margin-right: 0 !important;
  border-radius: $rem-tn;
  padding: $rem-sm $rem-tn;
  font-size: $fs-md;
  align-items: center;

  &--pending {
    border: 1px solid $warning;
  }

  &--approved {
    border: 1px solid $light-green;
  }

  &__statusSection {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  &__titleSection {
    @include breakpoint(small only) {
      margin-bottom: $rem-sm;
    }
  }

  &__title {
    font-size: $fs-md;
    color: $darker-gray;
    text-transform: none;

    &:hover {
      color: $darker-gray;
    }
  }

  &__statusIcon {
    display: inline-block;
    line-height: $fs-md;
    font-size: $fs-sm;
    text-transform: uppercase;
    min-width: rem-calc(90);
    border-radius: $rem-tn;
    padding-top: $rem-sm;
    padding-bottom: $rem-sm;
    text-align: center;
    &--pending {
      background-color: $warning;
    }
    &--approved {
      background-color: $light-green;
    }
  }

  &__date {
    color: $medium-dark-gray;
    margin-right: $rem-lg;
  }
}
