@import '~styles/settings/settings';

.contributorsListItem {
  position: relative;
  margin-bottom: $rem-lg;
  padding: $rem-xl;
  border-radius: $global-radius;
  background-color: white;
  border: 1px solid #ededed;

  &__avatar {
    width: 100px;
    height: 100px;
    margin: 0 auto $rem-mn;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
  &__name {
    margin-bottom: $rem-md;
    text-align: center;
    text-transform: uppercase;
    font-size: $fs-sm;
    font-weight: bold;
  }
}
