@import '~styles/settings/settings';

.filterableProducts {
  @include breakpoint(small only) {
    margin-bottom: $rem-md;
  }
  &__item {
    padding-top: $rem-xl;
    padding-bottom: $rem-xl;
    margin-bottom: $rem-xl;
    @include breakpoint(small only) {
      padding-top: $rem-tn;
      padding-bottom: $rem-sm;
      margin-bottom: $rem-sm;
      border-bottom: none;
    }
  }
  &__titleContainer {
    @include breakpoint(small only) {
      margin-bottom: $rem-sm;
    }
  }
  &__title {
    text-transform: capitalize;
    margin: 0;
    line-height: 1;
    @include breakpoint(small only) {
      margin: $rem-sm 0;
    }
  }
  &__showAll {
    @include breakpoint(small only) {
      float: right;
    }
  }
  &__buttonGroup {
    display: inline-flex;
  }
  &__buttonGroupItem {
    width: rem-calc(140);
  }
  &__carousel {
    > div { // there's no possibility to set a className for unslicked carousel
      @include breakpoint(medium) {
        display: flex;
        flex-flow: row wrap;
      }
    }
    .product {
      @include breakpoint(small only) {
        padding-bottom: $rem-xl;
      }
    }
    .bb-light-gray {
      @include breakpoint(small only) {
        border-bottom: none !important;
      }
    }
  }
}
