@import '~styles/settings/settings';

.answer {
  border: 1px solid $light-gray;
  border-radius: 4px;
  padding: $rem-lg;
  margin-bottom: $rem-xl;

  &--correct {
    border-color: #a0ce67;
    border-width: 2px;
  }
  &__avatar {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  &__user {
    font-size: $fs-tn;
  }
  &__name {
    font-size: $fs-lg;
    text-transform: none;
    font-weight: normal;
  }
  &__reputation,
  &__joined {
    font-size: $fs-tn;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__time {
    text-decoration: none;
  }
  &__text {
    min-height: 60px;
    margin-bottom: $rem-xl;
  }
  &__inquiry {
    margin-bottom: $rem-sm;
    text-transform: uppercase;
    font-size: $fs-tn;
    font-weight: bold;
  }
  &__replies {
    margin-left: 80px;
    @include breakpoint(small only) {
      margin-left: 20px;
    }
  }
  &__vote {
    cursor: pointer;
  }
  &__voteLabel {
    cursor: pointer;
  }
  &__correctButton {
    border-radius: $rem-tn !important;
    font-size: $fs-sm !important;
    height: $rem-lg;
    padding: inherit !important;
  }
  &__correctAnswerMark {
    color: $success;
    font-size: $fs-md;
    line-height: $fs-md;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: $rem-lg;
  }

  &__correctAnswerButton {
    color: $success;
    cursor: pointer;
    font-size: $fs-md;
    line-height: $fs-md;
    font-weight: bolder;
    text-transform: uppercase;
    margin-bottom: $rem-lg;
    &:hover {
      color: mix($success, $white, 80%);
    }
  }
  &__correctAnswerIcon {
    fill: $success;
    margin-right: $rem-sm;

    @at-root .answer__correctAnswerButton:hover & {
      fill: mix($success, $white, 80%);
    }
  }
}
