@import '~styles/settings/settings';

.forgotPasswordForm {
  color: $darkest-gray;
  width: 400px;
  @include breakpoint(small only) {
    width: 330px;
  }
  &__btnSubmit {
    width: 100%;
    border: none;
    background-image: linear-gradient(93deg, #2da2f2, #006494);
  }
}
