@import '~styles/settings/settings';
.lineChart {
  height: 400px;

  &__label {
    fill: $medium-dark-gray;
    font-size: 14px;
    font-weight: bold;
  }
  .legend-item-0 .recharts-legend-item-text {
    color: $primary;
  }
  .legend-item-1 .recharts-legend-item-text {
    color: $secondary;
  }
  .recharts-legend-item {
    margin: 0 $px-lg !important;
  }
}
