@import '~styles/settings/settings';
.faqTopic {
  &__category {
    font-size: $fs-mx;
    display: flex;
    align-items: center;
    text-align: left;
    color: $secondary;
    text-transform: capitalize;
    text-decoration: none;
    padding: $rem-md 0;
    margin-top: -1px;
    border-bottom: 1px solid $light-gray;
    border-top: 1px solid $light-gray;

    @at-root .faqTopic__sideBar & {
      color: $medium-dark-gray;
      font-size: $fs-md;
      line-height: $fs-base;
      padding: $rem-sm 0;
      border: none;

      &--home {
        font-size: $fs-base;
        color: $darker-gray;
      }
    }

    &--active {
      color: $secondary !important;
    }

    &:hover {
      color: $secondary;
      text-decoration: underline;
    }
  }

  &__categoryLabel {
    padding-left: $rem-md;
    @at-root .faqTopic__category--active & {
      border-left: $rem-tn solid $secondary;
      padding-left: $rem-mn;
    }
  }

  &__categoryIcon {
    fill: $secondary;
    margin-right: $rem-md;
    width: 25px;
    height: 25px;
  }

  &.faqTopic__sideBar {
    border-radius: $rem-tn;
    background-color: $lighter-gray;
    padding: $rem-sm 0;

    @include breakpoint(small only) {
      border-radius: 0;
      background-color: none;
      padding: 0;
    }
  }
}
