@import '~styles/settings/settings';

.productShowFilter {
  margin-bottom: $rem-lg;

  &__label {
    line-height: $rem-xl;
    font-size: $fs-tn;
    text-transform: uppercase;
    font-weight: bold;
  }
}
