@import '~styles/settings/settings';

.lpProductForm {
  &__select {
    border: 1px solid $secondary;
  }
  &__toggleHeader {
    cursor: pointer;
    text-decoration: none;
    font-weight: 500;
    color: $black;
  }
  &__editForm {
    height: 300px;
  }
}
