@import '~styles/settings/settings';

.conditionTag {
  font-size: $fs-md;
  padding: rem-calc(8) rem-calc(8) rem-calc(8) $rem-mn;
  border: 1px solid $light-gray;
  border-radius: $rem-tn;
  margin-right: $rem-mx;
  margin-bottom: $rem-sm;
  color: #3a405b;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  &__removeButton {
    cursor: pointer;
    margin-left: $rem-mn;
  }
}

