@import '~styles/settings/settings';

.memberProfile {
  padding-top: $rem-xl;
  &__avatar {
    border-radius: 100%;
    width: 202px;
    height: 202px;
    background-position: center;
    background-size: cover;
  }
  &__details {
    padding-top: rem-calc(14);
  }
  &__merit {
    margin-bottom: $rem-md;
    font-size: $fs-tn;
    text-transform: uppercase;
  }
  &__meritItem {
    display: flex;
    align-items: center;
    margin-bottom: $rem-md;
  }
  &__personal {
    display: inline-flex;
    padding: rem-calc(12) $rem-md;
    margin-bottom: $rem-xl;
    background-color: $lightest-gray;
    border-radius: $global-radius;
    font-size: $fs-tn;
    text-transform: uppercase;
  }
}
