@import '~styles/settings/settings';

.transaction {
  border: 1px solid $medium-gray;
  border-radius: $global-radius;
  padding: $rem-sm;
  margin-bottom: $rem-tn;
  font-size: $fs-md;
  color: #3a405b;
  &__creditAmount {
    color: #a0ce67;
  }
  &__debitAmount {
    color: #ed1c24;
  }
}
