@import '~styles/settings/settings';

.lpDemographics {
  &__map {
    margin: 0 auto;
    max-width: 630px;
  }
  &__mapLabel {
    @include breakpoint(medium) {
      margin-bottom: -(rem-calc(24));
    }
  }
  &__pieSection {
    @include breakpoint(large) {
      max-width: 280px !important;
    }
  }
  &__pieChart {
    max-width: 280px;
  }
  &__age {
    margin-bottom: $rem-md;
    border: 1px solid $light-gray;
    background-color: white;
    color: $medium-dark-gray;
    font-size: $fs-md;
    font-weight: bold;
    line-height: 54px;
    padding: 0 $rem-md;
    border-radius: $global-radius;
  }
  &__avatar {
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  &__competitors {
    .progressBar__line {
      max-width: rem-calc(200);
    }
  }
}
