@import '~styles/settings/settings';

.news {
  margin-bottom: $rem-xl;
  border-bottom: 1px solid $light-gray;
  @include breakpoint(small only) {
    margin-top: $rem-lg;
  }
  &__title {
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
  }
  &__item {
    margin-bottom: $rem-xl;
  }
  &__image {
    position: relative;
    margin-bottom: $rem-xl;
  }
  &__category {
    position: absolute;
    bottom: $rem-md;
    left: $rem-md;
    background-color: #930d6e;
    border-radius: 4px;
    color: $white;
    font-size: $fs-tn;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: rem-calc(8);
    padding-right: rem-calc(8);
  }
  &__avatar {
    width: 33px;
    height: 33px;
    border-radius: 50%;
  }
  &__author {
    font-size: $fs-tn;
    text-transform: uppercase;
    font-weight: bold;
  }
}
