@import '~styles/settings/settings';

.magazineContributorPage {
  &__about {
    margin-bottom: $rem-lg;
    padding-top: $rem-lg;
  }
  &__avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
  }
  &__name {
    margin: 0;
    color: $secondary;
  }
}
