@import '~styles/settings/settings';

.cartItem {
  color: $darker-gray;
  &:not(:last-child) {
    padding-bottom: $rem-xl;
    border-bottom: 1px solid $light-gray;
  }
  &__title {
    font-size: $fs-xl;
  }
  &__quantityLabel {
    padding-right: $rem-md;
  }
  &__quantityValue {
    padding: 0px $rem-sm;
  }
  &__quantityChange {
    border: 1px solid $darker-gray;
    width: $rem-mn;
    height: $rem-mn;
    box-sizing: border-box;
    padding: 0;
    border-radius: $rem-xxl;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
  }
  &__price {
    font-size: $fs-mx;
    font-weight: light;
  }
}
