@import '~styles/settings/settings';

.browseByTag {
  color: #14293d;
  padding-top: rem-calc(140);
  padding-bottom: rem-calc(140);
  &__tagList {
    margin-top: $rem-xl;
    @include breakpoint(small only) {
      margin-top: $rem-md;
    }
  }
  &__tag {
    opacity: 0.7;
    margin-bottom: $rem-sm;
  }
}
